{% extends '@RandoFront/layout.html.twig' %}
{% block title %}
    <title>
        Acceuil Rando-vous
    </title>
{% endblock %}

{% block frontoffice_body %}
<section class="page-img" style="background-image: url('{{ asset('assets/img/home_img/mountain.jpg') }}');">
    <div class="main-title">
        <h2>Contact us</h2>
        <p>Get in touch with us</p>
    </div>
</section>


<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="contact-page">

            <div class="feature-box">
                <div class="text-center">
                    <div class="circle-icon"><span class="icon-locate"></span></div>
                    <div class="desc">
                        <h1>Mold Discover</h1>
                        <br>
                        <h4>Atlanta, Georgia, USA</h4>
                        <h4>+464 929 563 22</h4>
                        <h4>info@moldthemes.com</h4>
                    </div>
                </div>

                <br>
                <br>

                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" placeholder="Full Name">
                            </div>
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Remarks</label>
                                <textarea class="form-control">Remarks</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Check me out
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary hvr-sweep-to-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div id="map-canvas" style="height: 500px;"></div>
{% endblock %}