{% extends '@RandoFront/layout.html.twig' %}
{% block title %}
    <title>
        Acceuil Rando-vous
    </title>
{% endblock %}

{% block frontoffice_body %}
    <section class="page-img" style="background-image: url('{{ asset('assets/img/home_img/mountain.jpg') }}');">
        <div class="main-title">
            <h1>On fera le meilleur rando</h1>
            <p>A plus .</p>
        </div>
    </section>


    <div class="main-title">
        <br/>
        <h1>Mission</h1>
    </div>
    <div class="container">
        <blockquote>
            <p>L’Association Tunisienne des Randonneurs, publiée au JORT N°137 à la date 15/02/2017,
                est une association qui cible les amoureux de la Tunisie et de sa nature
                qui a pour mission de :</p>
        </blockquote>
        <blockquote>
            <p>
                - Développer la discipline de la randonnée pédestre en Tunisie comme pratique sportive écologique.<br/>
                - Contribuer à la sauvegarde de l’environnement et valoriser le tourisme vert.<br/>
                - Élaborer des circuits de randonnées balisés avec des supports didactiques.<br/>
                - Créer une communauté responsable de randonneurs en leur faisant découvrir la Tunisie: Encadrer les
                jeunes randonneurs sur les principes respectant la nature.<br/>
                - Faire de la Tunisie une nouvelle destination verte sportive et écologique.<br/>
                - Contribuer au  développement durable par l’intégration des zones démunies et
                de la communauté locale dans la chaîne de valeur des circuits de randonnées élaborés.
            </p>
        </blockquote>
        <blockquote>
            <p>
                Pour atteindre ces objectifs, l’Association Tunisienne des Randonneurs s’organise en un bureau exécutif composé de (présidente, vice président, secrétaire général et trésorier)
                ainsi que des équipes de travail permettant la réalisation des projets.
            </p>
        </blockquote>
    </div>


    <br/>
    <div class="main-title">
        <h1></h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="steps">
                <div class="col-sm-3 step-module first wp-1 delay-0">
                    <div class="index"><span class="icon-island"></span></div>
                    <h4>Holiday Planing</h4>
                </div>
                <div class="col-sm-3 step-module wp-1 delay-1">
                    <div class="index"><span class="icon-door-tag"></span></div>
                    <h4>Hotel Booking</h4>
                </div>
                <div class="col-sm-3 step-module wp-1 delay-2">
                    <div class="index"><span class="icon-hiking"></span></div>
                    <h4>Tour Package</h4>
                </div>
                <div class="col-sm-3 step-module last wp-1 delay-3">
                    <div class="index"><span class="icon-plane"></span></div>
                    <h4>Air Ticketing</h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    </section>

{% endblock %}